# Nitrokey 3 Bootloader, requires reset on attach
# See https://github.com/QubesOS/qubes-issues/issues/8953
SUBSYSTEM=="usb", ENV{ID_VENDOR_ID}=="20a0", ENV{ID_MODEL_ID}=="42dd", ENV{QUBES_USB_RESET}="1"
